<button mat-button (click)="openConfirm()">Delete</button>

<button mat-button (click)="openAddWalletDialog()">Add new Wallet</button>

<mat-accordion>
    <mat-expansion-panel *ngFor="let wallet of allWallets">
        <mat-expansion-panel-header class="right-aligned-header">
            <mat-panel-title>
                {{ wallet.firstName}} {{ wallet.lastName}}
            </mat-panel-title>
            <mat-panel-description>
                Click to see address
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>{{ wallet.walletAddress }}</p>
    </mat-expansion-panel>
</mat-accordion>